@import '../../../styles.scss';

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    background: $main-grey-dark;

    mat-toolbar {
        background: inherit;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    mat-nav-list a {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    mat-divider {
        background-color: white;
    }

    &__title {
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

.hidden {
    display: none;
}
